main {
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > section {
  padding: 15px 0;
  width: 100%;
  overflow-y: scroll;
}

.book-list {
  margin: 2rem 5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
