<div class="card">
  <img
    class="config"
    src="/more-horizontal.svg"
    alt="more"
    (click)="delete(id())"
  />
  @if (!finished()) {
    <span class="progress">WiP</span>
  }
  <img
    class="cover"
    [src]="headerImage()"
    [alt]="title()"
    rel="noopener noreferrer"
  />
  <strong class="title">{{ title() }}</strong>
  <ul class="tag-list">
    @for (tag of tags(); track tag) {
      <li class="tag">{{ tag }}</li>
    }
  </ul>
  <div class="card-footer">
    <a
      class="link"
      [href]="blogLink()"
      target="_blank"
      rel="noopener noreferrer"
      title="Blog"
    >
      <img src="at-sign.svg" alt="Blog" />
    </a>
    <a
      class="link"
      [href]="playLink()"
      target="_blank"
      rel="noopener noreferrer"
      title="Play"
    >
      <img src="play.svg" alt="Play" />
    </a>
  </div>
</div>
