<div class="card">
  <span class="progress">WiP</span>
  <img
    class="cover"
    src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/800620/header.jpg?t=1734033216"
    alt="fallen hero cover"
    rel="noopener noreferrer"
  />
  <strong class="title">Fallen Hero: Rebirth</strong>
  <ul class="tag-list">
    <li class="tag">Superhero</li>
    <li class="tag">Sci-fi</li>
    <li class="tag">Modern fantasy</li>
  </ul>
  <div class="card-footer">
    <a
      class="link"
      href="https://www.tumblr.com/fallenhero-rebirth"
      target="_blank"
      rel="noopener noreferrer"
      title="Blog"
    >
      <img src="at-sign.svg" alt="Blog" />
    </a>
    <a
      class="link"
      href="https://www.choiceofgames.com/user-contributed/fallen-hero-rebirth/"
      target="_blank"
      rel="noopener noreferrer"
      title="Play"
    >
      <img src="play.svg" alt="Play" />
    </a>
  </div>
</div>
