.card {
  background-color: oklch(21% 0.006 285.885);
  border-radius: 10px;
  width: 22vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  background-color: oklch(64.6% 0.222 41.116);
  padding: 1px 5px;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 8px;
  color: oklch(87.2% 0.01 258.338);
  font-size: 0.8rem;
}

.card .cover {
  width: 22vw;
  margin: 16px 0 6px 0;
}

.card .title {
  padding-left: .5rem;
  color: oklch(92.8% 0.006 264.531);
}

.card .tag-list {
  margin: 6px 8px;
  display: flex;
  gap: 5px;
  font-size: .8rem;
  flex-wrap: wrap;
}

.card .tag {
  list-style: none;
  padding: 1px 2px;
  border-radius: 5px;
  background-color: oklch(35.9% 0.144 278.697);
  color: oklch(87.2% 0.01 258.338);
}

.card .card-footer {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}

.card .link {
  text-decoration: none;
  color: #fff;
  background-color: oklch(35.9% 0.144 278.697);
  border-radius: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .357s;
}

.card .link:hover {
  transform: scale(1.1);
}