@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: oklch(21% 0.006 285.885);
}

.no-scroll {
  overflow: hidden;
}
