.filter {
  width: 30rem;
  padding: 1rem;
}

.filter form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.filter form input {
  padding: 5px;
  width: 87%;
  padding: 5px;
  font-size: 1.2rem;
}

.filter form button {
  font-size: 1.2rem;
  padding: 0 5px;
  cursor: pointer;
  background-color: oklch(49.1% 0.27 292.581);
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 0.375s;
}

.filter form button:hover {
  background-color: oklch(43.049% 0.2342 293.36);
}

.filter form button:hover {
  opacity: 0.9;
}

.filter ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.filter ul li {
  list-style: none;
  padding: 1px 2px;
  border-radius: 5px;
  background-color: oklch(35.9% 0.144 278.697);
  color: oklch(87.2% 0.01 258.338);
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.375s;
}

.filter ul li:hover {
  transform: scale(1.03);
}

.filter ul li.reset {
  background-color: oklch(62.7% 0.194 149.214);
}

@media only screen and (max-width: 460px) {
  .filter {
    width: 50vw;
    font-size: 14px;
  }

  .filter form {
    justify-content: center;
  }

  .filter form input {
    width: 100%;
  }
}
