<section class="filter">
  <form (submit)="onSubmit($event)">
    <input
      type="text"
      placeholder="Title..."
      [value]="title()"
      (change)="onChangeTitleFilter($event)"
    />
    <button>Search</button>
  </form>
  @if (open()) {
    <ul>
      <filter-tag
        tag="All"
        [active]="activeFilter() === ''"
        (tagClickEmitter)="onTagClick('')"
      />
      @for (tag of tags(); track tag) {
        <filter-tag
          [tag]="tag"
          [active]="tag === activeFilter()"
          (tagClickEmitter)="onTagClick(tag)"
        />
      }
    </ul>
  } @else {
    <ul>
      @if (activeFilter() !== "") {
        <button class="filter-button" (click)="onFilterButtonClick()">
          Filter
        </button>
        <filter-tag
          [tag]="activeFilter()"
          [active]="true"
          (tagClickEmitter)="onTagClick(activeFilter())"
        />
      } @else {
        <button (click)="onFilterButtonClick()">
          Filter
        </button>
      }
    </ul>
  }
</section>
